<div class = "container">
<h1 class="text-center">All the Artists</h1>
<%= link_to "Add an Artist", artists_new_path, { :class => "btn btn-primary btn-lg active" } %>
<br><br>


<table class="table table-hover striped bordered">
  <tr>
    <th class="text-center">Artist</th>
    <th class="text-center">Image</th>
    <th class="text-center">Albums</th>
    <th class="text-center">Hometown</th>
    <th class="text-center">Edit</th>
    <th class="text-center">Delete</th>
  </tr>

  <% @artists.each do |artist| %>
      <tr>
        <td class="text-center"><%= link_to artist.name, artist_path(artist) %></td>
        <td class="text-center"><%= image_tag(artist.img, size: "100x100", alt: "Artist Image") %></td>
        <td class="text-center"><%= artist.album %></td>
        <td class="text-center"><%= artist.hometown %></td>
        <td class="text-center"><a class="btn btn-secondary glyphicon glyphicon-edit" href="<%= edit_artist_path(artist) %>" >
    			</a>
    	  </td>
       <td class="text-center"><a class="btn btn-danger" data-confirm="Are you sure you want to delete <%= artist.name %>?" data-method="delete" href="/artists/<%= artist.id %>" rel="nofollow"><i class="large material-icons">Delete Artist</i>
    	   </a>
        </td>
      </tr>
  <% end %>
</table>
</div>